<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us | Splitto-4-Kiddo</title>
  <link rel="shortcut icon" type="image/png" href="./img/money.jpg" />
  <link rel="stylesheet" href="expensestyle.css" />
</head>

<body>
  <header>
    <nav class="nav">
      <img src="./img/money.jpg" alt="Splitto-4-Kiddo logo" class="nav__logo" id="logo" designer="Sam"
        data-version-number="3.0" />
      <ul class="nav__links">
        <li class="nav__item">
          <a class="nav__link nav__link--btn btn--show-modal" href="../../../users/templates/users/index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link nav__link--btn btn--show-modal" href="terms.html">Terms of Use</a>
        </li>
        <li class="nav__item">
          <a class="nav__link nav__link--btn btn--show-modal" href="privacy.html">Privacy Policy</a>
        </li>
        <li class="nav__item">
          <a class="nav__link nav__link--btn btn--show-modal" href="blog.html">Blog</a>
        </li>
      </ul>
    </nav>
  </header>
  <section class="section" id="section--3">
    <div class="section__title section__title--testimonials">
      <h1><u>About Us</u></h1>
    </div>
    <div class="slider">
      <div class="slide">
        <div class="testimonial">
          <h5 class="testimonial__header"> Why We Chose This Project:</h5>
          <blockquote class="testimonial__text">
            Splitto-4-Kiddo is our chosen project, driven by a shared recognition of the universal challenges in
            managing shared expenses within social circles. We are committed to simplifying expense splitting for
            everyone, irrespective of age or background.
            Focused on addressing a common pain point in financial collaboration across diverse groups, Splitto-4-Kiddo
            provides a digital solution to streamline expense splitting. By fostering transparency and easing the
            complexities associated with shared financial responsibilities, we aim to empower individuals and groups.
            Our team believes in the transformative power of technology. Splitto-4-Kiddo represents our dedication to
            creating a user-friendly platform, prioritizing accessibility, and contributing to building harmonious
            connections within communities. It's our commitment to making a positive impact by addressing the universal
            need for streamlined, transparent, and hassle-free expense management.
          </blockquote>
          <address class="testimonial__author"></address>
          <img src="img/Ritam.jpg" alt="" class="testimonial__photo" />
          <h6 class="testimonial__name">Ritam Bhattacharya</h6>
        </div>
      </div>

      <div class="slide">
        <div class="testimonial">
          <h5 class="testimonial__header">
            Empower everyone to give food effortlessly.
          </h5>
          <blockquote class="testimonial__text">
            What We Are Solving:
            At Splitto-4-Kiddo, we address the challenges of shared expense management for everyone. Whether it's
            splitting bills among friends, roommates, or colleagues, our platform provides a streamlined solution. We
            simplify the process by offering a user-friendly interface to effortlessly add members, record debts, and
            clarify who owes whom.

            The common complexities of manual calculations and misunderstandings are alleviated through Splitto-4-Kiddo,
            promoting transparency and fairness within social circles. By focusing on accessibility and ease of use, our
            platform empowers individuals and groups to navigate shared expenses seamlessly. Splitto-4-Kiddo transforms
            the often intricate task of expense tracking into a stress-free experience, making financial collaboration
            clear, accessible, and equitable for users from all walks of life.
          </blockquote>
          <address class="testimonial__author">
            <img src="img/subhojit.jpg" alt="" class="testimonial__photo" />
            <h6 class="testimonial__name">Subhojit Guin</h6>
          </address>
        </div>
      </div>

      <div class="slide">
        <div class="testimonial">
          <h5 class="testimonial__header">A hunger-free world
          </h5>
          <blockquote class="testimonial__text">
            Our Future Ambitions:
            At Splitto-4-Kiddo, our vision extends beyond simplifying shared expenses. We aim to broaden our impact
            globally, connecting individuals and groups across regions. Our ambition is to facilitate seamless expense
            splitting internationally, making financial collaboration accessible and transparent.

            We also aspire to be pioneers in raising awareness about responsible financial practices. By educating
            users, we aim to contribute to a global community where shared expense management is not just simplified but
            also aligned with ethical and transparent principles.

            As we evolve, our commitment remains unwavering – to create a future where Splitto-4-Kiddo is synonymous
            with accessible, equitable, and seamless financial collaboration, fostering harmony among diverse
            communities worldwide.

          </blockquote>
          <address class="testimonial__author">
            <img src="img/samanyu.jpg" alt="" class="testimonial__photo" />
            <h6 class="testimonial__name">Samanyu Deghuria</h6>
          </address>
        </div>
      </div>
      <div class="slide">
        <div class="testimonial">
          <h5 class="testimonial__header">A hunger-free world
          </h5>
          <blockquote class="testimonial__text">
            Our Future Ambitions:
            Our journey has just begun, and we have big dreams for the future. As we continue to grow and expand, we aim
            to:
            Widen Our Reach: We aspire to connect more food donors with those in need, not just locally, but across
            regions and potentially even internationally.
            Raise Awareness: We want to be at the forefront of raising awareness about food wastage and hunger,
            educating people on how they can make a positive impact.

          </blockquote>
          <address class="testimonial__author">
            <img src="img/sudhesna.jpg" alt="" class="testimonial__photo" />
            <h6 class="testimonial__name"> Sudhesna Pathak</h6>

          </address>
        </div>
      </div>

      <button class="slider__btn slider__btn--left">&larr;</button>
      <button class="slider__btn slider__btn--right">&rarr;</button>
      <div class="dots">
      </div>
    </div>
  </section>
  <script src="myjs.js"></script>
</body>

</html>