{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Splitto-4-Kiddo</title>
    <link rel="shortcut icon" type="image/png" href="./img/money.jpg" />
    <link rel="stylesheet" href="{% static 'expensestyle.css' %}" />
</head>

<body>
    <header>
        <nav class="nav">
            <img src="./img/money.jpg" alt="Splitto-4-Kiddo logo" class="nav__logo" id="logo" designer="Sam"
                data-version-number="3.0" />
            <ul class="nav__links">
                <li class="nav__item">
                    <a class="nav__link nav__link--btn btn--show-modal" href="../../../users/templates/users/index.html">Home</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--btn btn--show-modal" href="terms.html">Terms of Use</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--btn btn--show-modal" href="privacy.html">Privacy Policy</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--btn btn--show-modal" href="about.html">About Us</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1><u>Blog</u></h1>
    <div class="blog">
        <ul>
            <li>
                <h3>Smart Expense Splitting Strategies:</h3>
                <ul>
                    <li>Dive into practical tips and strategies for efficiently managing shared expenses. From group
                        trips to household bills, discover ways to simplify the process.</li>
                </ul>
            </li>
            <li>
                <h3>Financial Literacy for All Ages:</h3>
                <ul>
                    <li>Explore articles aimed at enhancing financial literacy for individuals of all ages. We believe
                        that knowledge empowers, and our blog provides valuable insights into responsible financial
                        practices.</li>
                </ul>
            </li>
            <li>
                <h3>Real Stories, Real Solutions:</h3>
                <ul>
                    <li>Connect with real-life stories of individuals and groups who have found success in using
                        Splitto-4-Kiddo. Learn how our platform has made a positive impact on their financial
                        collaboration.</li>
                </ul>
            </li>
            <li>
                <h3>Community Spotlight:</h3>
                <ul>
                    <li>Highlighting the vibrant communities that use Splitto-4-Kiddo. Learn about their experiences,
                        challenges, and how they navigate shared expenses in unique ways.</li>
                </ul>
            </li>
        </ul>
        <p>
            <h3>Join the Conversation:</h3>
            Our blog is not just a one-way street. We encourage you to join the conversation by sharing your thoughts,
            experiences, and tips. Together, let's build a community centered around financial harmony.

            Stay tuned for regular updates, expert insights, and stories that inspire financial well-being. At
            Splitto-4-Kiddo, we believe that shared finances can be a source of harmony, and our blog is here to guide
            you
            on that journey. Happy reading!
        </p>
    </div>

</body>

</html>