<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy| Splitto-4-Kiddo</title>
    <link rel="shortcut icon" type="image/png" href="./img/money.jpg" />
    <link rel="stylesheet" href="expensestyle.css" />
</head>

<body>
    <header>
        <nav class="nav">
            <img src="./img/money.jpg" alt="Splitto-4-Kiddo logo" class="nav__logo" id="logo" designer="Sam"
                data-version-number="3.0" />
            <ul class="nav__links">
                <li class="nav__item">
                    <a class="nav__link nav__link--btn btn--show-modal" href="../../../users/templates/users/index.html">Home</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--btn btn--show-modal" href="terms.html">Terms of Use</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--btn btn--show-modal" href="about.html">About Us</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--btn btn--show-modal" href="blog.html">Blog</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1><u>Privacy Policy</u></h1>
    <div class="blog">
        <ul>
            <li>
                <h3>Information We Collect:</h3>
                <ul>
                    <li>We collect minimal, necessary information to provide our services. This may include user
                        details, transaction data, and other relevant information.</li>
                </ul>
            </li>
            <li>
                <h3>How We Use Your Information:</h3>
                <ul>
                    <li>Your information is used solely for the purpose of facilitating shared expense management on
                        Splitto-4-Kiddo. We do not share or sell your data to third parties.</li>
                </ul>
            </li>
            <li>
                <h3>Data Security:</h3>
                <ul>
                    <li>We employ robust security measures to protect your information from unauthorized access,
                        disclosure, alteration, or destruction.</li>
                </ul>
            </li>
            <li>
                <h3>Cookies:</h3>
                <ul>
                    <li>Splitto-4-Kiddo may use cookies to enhance user experience. Users can manage cookie preferences
                        in their browser settings.</li>
                </ul>
            </li>
            <li>
                <h3>Third-Party Links:</h3>
                <ul>
                    <li>Our platform may contain links to third-party websites. We are not responsible for the privacy
                        practices of these external sites.</li>
                </ul>
            </li>
            <li>
                <h3>Updates to Privacy Policy:</h3>
                <ul>
                    <li>We reserve the right to update our Privacy Policy. Users will be notified of any changes.</li>
                </ul>
            </li>
            <li>
                <h3>User Control:</h3>
                <ul>
                    <li>Users have the right to access, correct, or delete their personal information stored on
                        Splitto-4-Kiddo.</li>
                </ul>
            </li>
        </ul>
        <p class="para">
            By using our platform, you agree to this Privacy Policy. We value your privacy and are committed to maintaining
            the confidentiality and security of your information. If you have any questions or concerns, please contact us
            at [contact@splitto4kiddo.com]. Thank you for choosing Splitto-4-Kiddo!
        </p>
    </div>



</body>

</html>