
{% extends "expenses/base_generic.html" %}

{% block content %}
  <h1>Expense Split</h1>
  <h3>Paid by : {{ppp}}</h3>
  <h3>Total amount : {{ Total.amount }}</h3>
 <h3>Payment made at : {{Total.created_at}}</h3>
  <table>
    <thead>
      <tr>
        <th>Owes</th>
        <th>Owed To</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for expense in payments %}
        <tr>
          {% if expense.paid_by_names != ppp %}
          <td>{{ expense.paid_by_names }}</td>
          <td>{{ ppp }}</td>
          <td>{{ expense.amount }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}