<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms Of Use| Splitto-4-Kiddo</title>
    <link rel="shortcut icon" type="image/png" href="./img/money.jpg" />
    <link rel="stylesheet" href="expensestyle.css" />
</head>

<body>
    <header>
        <nav class="nav">
            <img src="./img/money.jpg" alt="Splitto-4-Kiddo logo" class="nav__logo" id="logo" designer="Sam"
                data-version-number="3.0" />
            <ul class="nav__links">
                <li class="nav__item">
                    <a class="nav__link nav__link--btn btn--show-modal" href="../../../users/templates/users/index.html">Home</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--btn btn--show-modal" href="about.html">About Us</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--btn btn--show-modal" href="privacy.html">Privacy Policy</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--btn btn--show-modal" href="blog.html">Blog</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1><u>Terms Of Use</u></h1>
    <div class="blog">
        <ul>
            <li>
                <h3>User Responsibilities:</h3>
                <ul>
                    <li>Users are responsible for maintaining the confidentiality of their account information.</li>
                    <li>Users must provide accurate and up-to-date information when using the platform.</li>
                </ul>
            </li>
            <li>
                <h3>Platform Usage:</h3>
                <ul>
                    <li>Splitto-4-Kiddo is intended for the responsible management of shared expenses.</li>
                    <li>Users are prohibited from engaging in any unlawful or harmful activities on the platform.</li>
                </ul>
            </li>
            <li>
                <h3>Data Security:</h3>
                <ul>
                    <li>We prioritize the security of user data. Any unauthorized access or attempt to breach security
                        is strictly prohibited.</li>
                </ul>
            </li>
            <li>
                <h3>Intellectual Property:</h3>
                <ul>
                    <li>Users must respect the intellectual property rights of Splitto-4-Kiddo, including trademarks and
                        copyrights.</li>
                </ul>
            </li>
            <li>
                <h3>Disclaimer of Liability:</h3>
                <ul>
                    <li>Splitto-4-Kiddo is not liable for any loss or damage resulting from the use of our platform.
                    </li>
                </ul>
            </li>
            <li>
                <h3>Changes to Terms:</h3>
                <ul>
                    <li>We reserve the right to modify these terms at any time. Users will be notified of any changes.
                    </li>
                </ul>
            </li>
        </ul>
        <p class="para">
            By using Splitto-4-Kiddo, you acknowledge and agree to these terms. It is essential to review these terms
            periodically for any updates. If you do not agree with these terms, please refrain from using our platform.
            Thank you for choosing Splitto-4-Kiddo!
        </p>
    </div>


</body>

</html>